*, :after, :before {
	-webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #333;

    font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
h3 {
	font-size: 1.4em;
}
li {
 	list-style-type: none;
}
ul {

}
a:hover {
	text-decoration: none;
    color: #dddddd;
}
p a:hover {
	text-decoration: underline;
}
label {
	white-space: nowrap;
}
/* h text color */
.h-c {
    color: #343a40;
}
/* author and secondary text */
.a-c {
    color: #818182;
}
/* main and header background color */
.hd-bg {
	background-color: #343a40;
}
/* body and secondary background color */
.b-bg {
    background-color: #f8f9fa;
}
/* main color for icon atc */
.hd-c {
	color: #343a40;
}
/* circle colors */
.red {
color: #bd2130
}
.orange{
color: #ffa039;
}
.green{
color: #28a745;
}
/* __Head__ */

.navbar-logo h1 {
    color: #f8f9fa;
	font-size: 2em;

}
.info {
	color: #ffffff;
    font-size: 1.2em;
    text-align: right;
    display: block;
}
@media all and (min-width: 576px) {
	.navbar-logo a {
	font-size: 40px;
	}
	.info {
	color: #ffffff;
    font-size: 1.2em;
	}
}
/* Filter */

.data {
	height: 90px;
}

.accordion .header {
	position: relative;
	cursor: pointer;
	top: -44px;

}

.accordion .header-icon {
	position: absolute;
	top: 16px;
	left: 1px;
	transform: rotate(0deg);
	transition-duration: 0.3s;
	color: #808081;
}

.accordion .body-inner {
	padding: 20px 0;
	overflow-wrap: break-word;
	/*   white-space: pre-wrap; */
}

.accordion .header-icon.rotate {
	transform: rotate(180deg);
	transition-duration: 0.3s;
}
.accordion span {
	display: none;
}
@media all and (min-width: 576px) {
	.accordion span {
		display: block;
		position: absolute;
		top: 10px;
	    left: 1px;
	}
	.data {
		height: 70px;
	}

}
/* __Home Content__  */

.book-box {
    height: 346px;
    border: 1px solid #eee;
    padding: 10px 10px 0;
    background-color: white;
    border-radius: 5px;
}
.img-preview {
    max-width: 100%;
    height: auto;
    max-height: 160px;
    width: auto;
}
.book-name {
    overflow: hidden;
    display: -webkit-inline-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: auto;

}
.book-name h2 {
    font-size: 1em;
}

.book-author {
    overflow: hidden;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: auto;
}
.book-about {
    height: 146px;
}
.dot {
 	margin-right: 5px;
	}
}
@media all and (min-width: 576px) {
	.book-name h2 {
	    font-size: 1.4em;
	}
	.book-about {
	    height: 180px;
	}
	.img-preview {
	    max-height: 200px;

	}
	.book-box {
	    height: 415px;
	    padding: 15px 20px 0;
	}
}
/* __Book  Deatail__ */
.content {
    width: 100%;
    min-height: 100%;
    padding: 20px 0;
}

.book-detail-img {
    max-height: 400px;
}
.owner-box {
	border-top: 3px solid #343a40;
    padding: 10px;
    margin: 10px 0;
}
.fa-external-link-alt {
	font-size: 20px;
}

.info-link-btn {
	margin: 1rem;
	display: block;
	padding: 1rem;
}
.borrow {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1rem;
}
￼

/* __Footer__ */

footer {
	height: 200px;
	margin-top: 100px;
}
.footer-logo {
    padding: 30px 0;
}
