{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row bg-white mx-0 my-2 img-thumbnail rounded-0">
        <div class="col-12 col-md-4 p-0 p-3">
            <img src="{{ url_for('image', book_slug=book_slug) }}" class="img-thumbnail rounded-0 book-detail-img" alt="">
        </div>
        <div class="col p-3">
            <div class="book-detail-name">
                <h2 class="h-c" >{{ book.name }}</h2>
            </div>
            <div class="book-author">
                <p class="a-c">{{ book.author }}</p>
            </div>

            <div class="book-detail-name d-flex justify-content-left">
                <p class="mr-2">{{ book.description }}</p>
                <a href="{{ book.url }}">
                    <i class="fas fa-external-link-alt hd-c" title="info"></i>
                </a>
            </div>
            <p class="mt-2">{{ book.language[0][0:-1] }}á verze</p>
            {% for copy in book.copies %}
                <div class="owner-box b-bg p-2 m-0 mt-3">
                    <div class="d-flex justify-content-between">
                        {% macro person(name) %}
                                {% if name[0] == '@' %}
                                    <a href="https://github.com/{{ name[1:] }}">{{ name[1:] }}</a>
                                {% else %}
                                    {{ name }}
                                {% endif %}
                        {% endmacro %}

                        <p  class="m-0">Majitel:
                        {{ person(copy['owner']) }}
                        {% if 'current' not in copy and 'keeper' not in copy %}
                            <i class="fas fa-book green" title="Knihu si můžeš půjčit."></i>
                        {% endif %}
                        </p>

                        {% if 'signed' in copy  %}
                            <i class="fas fa-pen-fancy hd-c" title="Kniha je podepsaná autorem, dávej na ni pozor."></i>
                        {% endif %}
                    </div>

                    {% if copy.get('keeper') %}
                    <p class="m-0">O knihu se stará:
                    {{ person(copy['keeper']) }}
                        {% if 'current' not in copy %}
                            <i class="fas fa-book green" title="Knihu si můžeš půjčit.">{{ copy['days'] }}</i>
                        {% endif %}</p>
                    {% endif %}

                    {% if 'current' in copy %}
                        <p class="m-0">Aktuálně u:
                        {{ person(copy['current']) }}
                        {% if 'borrowed' in copy %}
                            od {{ copy['borrowed'].month }}/{{ copy['borrowed'].year }}
                        {% endif %}
                        {% if  (today - copy['borrowed']).days < 31 %}
                        <i class="fas fa-book-reader red" title="Ještě neuběhla výpůjční doba.">{{ days }}</i>
                        {% else %}
                        <i class="fas fa-book-open orange" title="Knihu už má půjčenou dlouho. Můžeš si ji půjčit.">{{ copy['days'] }}</i>
                        {% endif %}
                        </p>
                {% endif %}

                </div>
            {% endfor %}
            <div class="borrow">
                <a href="{{ url_for('info') }}" class="info-link-btn">
                    <button type="button" class="btn btn-info btn-lg">
                        <i class="fas fa-info-circle"></i>
                        Jak si půjčovat?
                    </button>
                </a>
                <a href="https://github.com/pyvec/bookshelf/issues/new?{{ {
                    'title': 'Chci si půjčit knížku ' + book.name,
                    'body': borrow_issue_body,
                } | urlencode }}" class="info-link-btn">
                    <button type="button" class="btn btn-success btn-lg">
                        <i class="fab fa-github"></i>
                        Požádat o půjčení
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
