{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row bg-white mx-0 my-2 ">
        <div class="col-12 col-md-4 p-0 p-3">
            <img src="{{ url_for('image', book_slug=book_slug) }}" class="img-thumbnail book-detail-img" alt="">
        </div>
        <div class="col p-3">
            <div class="book-detail-name d-flex justify-content-between">
                <h2 class="h-c" >{{ book.name }}</h2>
                <a href="{{ book.url }}">
                    <i class="fas fa-external-link-alt hd-c"></i>
                </a>
            </div>
            <div class="book-author">
                <p class="a-c font-italic">{{ book.author }}</p>
            </div>

            <p>{{ book.description }}</p>
            <p class="mt-2">{{ book.language[0][0:-1] }}á verze</p>
            {% for copy in book.copies %}
                <div class="owner-box b-bg p-2 m-0 mt-3">
                    <div class="d-flex justify-content-between">

                        {% macro person(name) %}
                                {% if name[0] == '@' %}
                                    <a href="https://github.com/{{ name[1:] }}">{{ name[1:] }}</a>
                                {% else %}
                                    {{ name }}
                                {% endif %}
                        {% endmacro %}

                        <p  class="m-0">Majitel:
                        {{ person(copy['owner']) }}

                        {% if 'current' not in copy and 'keeper' not in copy %}
                            <i class="fas fa-circle green" title="Kniha si můžeš půjčit."></i>
                        {% endif %}
                        </p>

                        {% if 'signed' in copy %}
                            <i class="fas fa-pen-fancy hd-c" title="Kniha je podepsaná autorem, dávej na ni pozor."></i>
                        {% endif %}

                    </div>

                    {% if copy.get('keeper') %}


                    <p class="m-0">O knihu se stará:
                    {{ person(copy['keeper']) }}

                    {% if 'current' not in copy %}
                        <i class="fas fa-circle green" title="Kniha si můžeš půjčit."></i>
                    {% endif %}</p>

                    {% endif %}
                    {% if 'current' in copy %}

                        <p class="m-0">Aktuálně u
                        {{ person(copy['current']) }}

                        {% if 'borrowed' in copy %}
                            od {{ copy['borrowed'].month }}/{{ copy['borrowed'].year }}
                            {% if 'days' in copy < 31 %}
                            <i class="fas fa-circle red" title="Knihu právě někdo čte."></i>
                            {% else %}
                            <i class="fas fa-circle orange" title="Kniha už je půjčená dlouho, ale ještě nebyla vrácena. Můžeš si ji půjčit."></i>
                            {% endif %}
                        {% endif %}
                        </p>
                    {% else %}

                    {% endif %}

                </div>
            {% endfor %}
            <a href="/info/" class="info-link-btn"><button type="button" class="btn btn-success btn-lg borrow">Půjčit si knihu</button></a>
        </div>


    </div>
</div>
{% endblock content %}
