{% extends "layout.html" %}


{% block content %}
<div class="container">
    <div class="row">
    {% for slug, book in books.items() %}
        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
            <div class="book-box m-2">
                <a href="{{ url_for('book', book_slug=slug) }}">
                <div class="book-about d-flex flex-column">
                    <div class="book-name m-0 p-O">
                        <h2 class="h-c m-0">{{ book.name }}</h2>
                    </div>
                    <div class="book-author m-0">
                        <p class="a-c mt-2 mb-0 font-italic">{{ book.author }}</p>
                    </div>
                </div>
                <div class="book-img text-center ">
                    <img src="{{ url_for('image', book_slug=slug) }}" class="img-thumbnail img-preview" alt="">
                </div>
                </a>
            </div>
        </div>
    {% endfor %}


    </div>
</div>
{% endblock content %}
