{% extends 'layout.html' %}

{% block content %}

<div class='container' id='root'>
    <div class='row filter' v-bind:is='"language-list"' v-bind:language="language" v-model="selectedlanguage"  v-bind:selectedlanguage="selectedlanguage">

    </div>
    <div class='row filter' v-bind:is='"tag-list"' v-bind:tags="tags" v-model="selectedtag"  v-bind:selectedtag="selectedtag">

    </div>

    <div class='row' v-bind:is='"book-list"' v-bind:books="books"  v-bind:selectedtag="selectedtag" v-bind:selectedlanguage="selectedlanguage">
    {% for slug, book in books.items() | sort %}
        <div class='col-sm-6 col-md-4 col-lg-3 p-0'>
            <div class='book-box m-2'>
                <a href='{{ url_for('book', book_slug=slug) }}'>
                <div class='book-about d-flex flex-column'>
                    <div class='book-name m-0 p-O'>
                        <h2 class='h-c m-0'>{{ book.name }}</h2>
                    </div>
                    <div class='book-author m-0'>
                        <p class='a-c mt-2 mb-0 font-italic'>{{ book.author }}</p>
                    </div>
                </div>
                <div class='book-img text-center '>
                    <img src='{{ url_for('image', book_slug=slug) }}' class='img-thumbnail img-preview' alt=''>
                </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
</div>

{% endblock content %}

{% block scripts %}

{% endblock %}
