{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="col bg-white p-3 ">

        <h2>Jak to funguje?</h2>

        <h3>Pokud si chceš půjčit knihu:</h3>
        <ul>
            <li>Pošli <a href="https://github.com/pyvec/bookshelf">pull request <a href="https://github.com/pyvec/bookshelf"><i class="fab fa-github"></i></a>, ve kterém zapíšeš že je kniha aktuálně u tebe</li>
            <li>V názvu pull requestu uveď jméno knihy</li>
            <li>V pull requestu uveď, kde chceš knihu předat. Standardně se knihy předávají na Pyvu (v Praze, Brně nebo Ostravě – viz <a href="https://pyvo.cz/">Pyvo</a>)</li>
            <li>Standardní doba výpůjčky je jeden měsíc (do dalšího Pyva)</li>
        </ul>

        <h3>Pokud chceš zařadit svou knihu do knihovny:</h3>

        <ul>
            <li>Pošli pull request, který ji tam zařazuje</li>
            <li>Knihu můžeš buď nechat u sebe, nebo ji na některém Pyvu předat Petrovi <a href="https://github.com/encukou">encukou</a>, který ji pak bude vozit na Pyva</li>
            <li>Hledáme knihy, které se týkají Pythonu a přidružených neutrálních technologií (např. databází), nebo programování či open-source obecně</li>
            <li>Půjčování je dobrovolná činnost založená na důvěře. Pokud se knížka ztratí, bude nám to líto a budeme se snažit ji získat zpátky, ale zaručit nemůžeme nic</li>
        </ul>

        <p>Začátečníci jsou vítáni! Pokud ještě neumíš udělat pull request, ozvi se na encukou@gmail.com</p>


        <h2>How does this work?</h2>

        <h3>If you want to borrow a book:</h3>

        <ul>
            <li>send a pull request, changing the entry to say you have the book ("Aktuálně u")</li>
            <li>Mention the name of the book in the pull request name</li>
            <li>In the pull request comment, say where you'll pick the book up. Standard locations are the Pyvo meetups – see viz http://python.cz</li>
            <li>The usual lease time is one month (until the next meetup)</li>
        </ul>
        <h3>If you have a book you'd like to add:</h3>
        <ul>
            <li>send a pull request adding it</li>
            <li>You can either keep the book, or give it to Petr (@encukou) who can bring it to any other Pyvo meetup in the country</li>
            <li>We're looking for books about either Python and related language-neutral technologies (like databases), or programming and open-source in general</li>
            <li>Lending is a volunteer effort based on trust. We have no legal responsibility for books you donate</li>
        </ul>

        <p>"Majitel" means "Owner". "Aktuálně u" means "Currently at". "Opatrovník" means "Keeper"</p>

    </div>
</div>
{% endblock content %}
