<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- ADD META TAGS -->
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"></meta>
        <meta name="keywords" content="Python, Pyvec, IT, Django, Flask, books"></meta>
        <meta name="description" content="Knihovnička české komunity kolem porogramovacího jazyka Python"></meta>
        <meta property="title" content="Knihovnicka"></meta>
        <title>{% block title %}Knihovnicka{% endblock title %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='CSS/style.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,greek,greek-ext,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link id="data-url" rel="alternate" type="application/json" href="{{ url_for('data') }}">
    </head>

    <body class="b-bg">
          <!-- Navigation -->
        <nav class="main-navbar container-fluid d-flex justify-content-between align-items-center p-3 hd-bg" role="navigation">
                <a class="navbar-logo text-white" href="{{ url_for("index")}}"><h1 class="m-0 py-3">Knihovnička</h1></a>
            <div class="">
                <a href="{{ url_for("info")}}" class="info"> Jak to funguje?</a>
            </div>
        </nav>

        <article class="content">
        {% block content %}
        {% endblock content%}
        </article>

        <footer class="bg-white container-fluid d-blog">
            <div class="d-flex justify-content-center align-items-center ">
                <p class="  ">Uprav tuto stránku na <a href="https://github.com/pyvec/bookshelf"> GitHubu <i class="fab fa-github"></i></a></p>
            </div>
        </footer>

        <!-- Vue script -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>
